/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Lato', sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'News Cycle', sans-serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
}
h3 {
  font-size: 2.5rem;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  display: flex;
  justify-content: space-between;
}
.container .row-left {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.container .row-center {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-grow: 1;
}
.container .row-center .navBar-main {
  display: flex;
}
.container .row-center .navBar-main nav a {
  text-decoration: none;
  padding-left: 6rem;
  color: #8C2034;
  font-size: 2em;
}
.container .row-center .img-header {
  width: 700px;
}
.container .row-center .img-header img#apexTarget {
  max-width: 100%;
  height: auto;
}
.container .row-center .content-main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 700px;
  height: 100%;
}
.container .row-center .content-main .content-main-1 {
  display: flex;
}
.container .row-center .content-main .content-main-1 .content-main-1-left {
  width: 800px;
  height: 100px;
  margin: 0;
  border: 4px solid red;
}
.container .row-center .content-main .content-main-1 .content-main-1-left .img {
  max-width: 100%;
}
.container .row-center .content-main .content-main-1 .content-main-1-right {
  flex-grow: 1;
  height: 100px;
}
.container .row-center .content-main .content-main-2 {
  display: flex;
}
.container .row-center .content-main .content-main-2 .content-main-2-left {
  flex-grow: 1;
  height: 100px;
}
.container .row-center .content-main .content-main-2 .content-main-2-right {
  width: 800px;
  height: 100px;
  margin: 0;
  border: 4px solid red;
}
.container .row-center .content-main .content-main-2 .content-main-2-right .img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}
.container .row-center .content-main .content-main-3 {
  display: flex;
}
.container .row-center .footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.container .row-center .footer .footer-main {
  display: flex;
}
.container .row-center .footer .footer-nav {
  display: flex;
}
.container .row-right {
  width: 500px;
  display: flex;
  flex-direction: column;
}
/* .container .row-right .problem-solution-index .problem .problem-table .p-table {
  width: 100%;
  height: auto;
  border: 1px solid black;
  background-color: pink; */
}
/* .container .row-right .problem-solution-index .solution .experiment-table table { */
  /* background-color: pink; */
/* } */


/*[ Table ]*/

.table100 {
  background-color:blue;
}

table {
  width: 100%;
}

th, td {
  font-weight: unset;
  padding-right: 10px;
}

.column1 {
  width: 33%;
  padding-left: 40px;
}

.column2 {
  width: 13%;
}

.column3 {
  width: 22%;
}

.column4 {
  width: 19%;
}

.column5 {
  width: 13%;
}

.table100-head th {
  padding-top: 18px;
  padding-bottom: 18px;
}

.table100-body td {
  padding-top: 16px;
  padding-bottom: 16px;
}

/*[ Fix header ]*/
.header-actual{
    background-color:#73172F;
    padding-top: 60px;
}

.table100 {
  position: relative;
  padding-top: 60px;
}

.table100-head table {
  position: relative; 
  width: 100%;
  top: 0;
  left: 0;

}

.table100-body {
  max-height: 585px;
  overflow: auto;
}

.table100.ver1 th {
    font-family: Lato-Bold;
    font-size: 18px;
    color:blue;
    line-height: 1.4;
  
    background-color: #6c7ae0;
  }
  
  /* .experiment-table td {
    font: 'Times New Roman';
    font-size: 40px;
    color: #808080;
    line-height: 1.4;
  } */
  
  .table100-body tr:nth-child(even) {
    background-color: #BF8F93;
  }

  .table100-body tr:nth-child(odd) {
    background-color: #727D8C;
  }
  
  
  /*---------------------------------------------*/
  
  /* .table100.ver1 {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -o-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
    -ms-box-shadow: 0 0px 40px 0px rgba(0, 0, 0, 0.15);
  }  */
  
  /* .table100.ver1 .ps__rail-y {
    right: 5px;
  } */
  
  /* .table100.ver1 .ps__rail-y::before {
    background-color: #ebebeb;
  } */
  
  /* .table100.ver1 .ps__rail-y .ps__thumb-y::before {
    background-color: #cccccc;
  }
   */
  